body {
  background: #33ff33;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.main-section {
  background: transparent;
  max-width: 600px;
  width: 90%;
  height: 500px;
  margin: 30px auto;
}

.clock-holder {
  width: 100%;
  background: #fff;
  margin: 30px auto;
  position: relative;
}


.timer {
  padding: 60px 0px;
  text-align: center;
}
.timer span{
  background: #33ff33;
  color: #fff;
  display: inline-block;
  font-family: monospace;
  font-size: 22px;
  padding: 20px;
  border-radius: 5px;
  width: 70px;
}

.timer .timer-btn {
  background: #fff;
  margin-top: 30px;
  margin-left: 5px;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  text-transform: uppercase;
  width: 150px;
  transition: background 1s;
  cursor: pointer;
  outline: none;
}
.timer .timer-btn-red{
  border: 2px solid #C85454;
  color: #C85454;
}
.timer .timer-btn-yel{
  border: 2px solid #FFC900;
  color: #FFC900;
}

.timer .timer-btn-gre{
  border: 2px solid #33ff33;
  color: #33ff33;
}
.timer .timer-btn-red:hover {
  background: #C85454;
  border: 2px solid #C85454;
  color: #fff;
}
.timer .timer-btn-yel:hover {
  background: #FFC900;
  border: 2px solid #FFC900;
  color: #fff;
}
.timer .timer-btn-gre:hover {
  background: #33ff33;
  border: 2px solid #33ff33;
  color: #fff;
}